.aider*
prompts/
logs/
data/

.env
__pycache__
uv.lock

.DS_Store

# temp, move to data dirs
gepa_self_optimizer/golden_set.json
gepa_self_optimizer/optimized_program_after_stats.json
mdap/calibration_cache.pkl
